<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Post Index</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>user</th>
                <th>text</th>
            </tr>

        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>yukito</td>
                <td>hello</td>
            </tr>

            <tr>
                <td>2</td>
                <td>jun</td>
                <td>thanks</td>
            </tr>

            <tr>
                <td>3</td>
                <td>tarou</td>
                <td>Wow</td>
            </tr>

        </tbody>
    </table>
</body>
</html>