{% extends 'base.html' %}

{% block header %}
<title>Index</title>
{% endblock header %}


{% block content %}
  


    <h1>Post Index</h1>

    <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>User</th>
            <th>text</th>
          </tr>
        </thead>
        <tbody>
            {% for p in posts %}
            <tr>
                <th scope="row">{{p.id}}</th>
                <td>{{p.user}}</td>
                <td><a href="{% url 'detail' p.id %}" class="text-dark">{{p.text}}</a></td>
            </tr>
            {% endfor %}
          
          
        </tbody>
      </table>
{% endblock  %}